<div id="main-container">
  <ng-container *ngIf="!providerData ; else lod">
  <div class="loading" >
    <app-provider-detail-loading></app-provider-detail-loading>
  </div>
</ng-container>
<ng-template #lod>
<div class="main" >
  <div class="provider-image" [style.backgroundImage]="'url('+ providerData?.profile_image_url +')'" *ngIf="providerData?.profile_image_url"></div>
  <div class="provider-image" style="background-image: url('assets/svg/woman.png') " *ngIf="!providerData?.profile_image_url"></div>

    <!-- <div class="miniCardImg" [style.backgroundImage]="'url('+ provider.profile_image_url +')'" *ngIf="provider.profile_image_url"></div> -->

<!-- <img [src]="providerData?.profile_image_url" *ngIf="providerData?.profile_image_url">
<img src="./../../assets/svg/woman.png" *ngIf="!providerData?.profile_image_url"> -->
 
  <div class="info-container">
    <div class="informations-provider">
      <span class="names"> {{providerData?.username}}</span> 
 <div class="sub-informations-provider">

  <div class="info-item">
    <span class="icon"><mat-icon>location_on</mat-icon></span>
    <span class="text">{{providerData?.location_related}}</span>
  </div>
  <div class="info-item">
    <span class="icon"><mat-icon>badge</mat-icon></span>
    <span class="text">{{providerData?.speciality_related}}</span>
  </div>
  <div class="info-item">
    <span class="signal"></span>
    <span class="text-available">disponible</span>
  </div>
      <!-- <app-menu-mobile 
      [imagePosition]="false"
      [isIconOrImg]="false"
      icon="location_on" 
      [text]="providerData?.location_related"
      [styles]="{justifyContent:'space-between', marginLeft:'-0.3rem',padding:'0', width:'7rem'}" 
      >
      
    </app-menu-mobile> -->

    <!-- <app-menu-mobile 
    [imagePosition]="false"
    [isIconOrImg]="false"
    icon="badge" 
    text="Fanico"
    [styles]="{justifyContent:'space-between', marginLeft:'-0.3rem',padding:'0', width:'7rem'}"
    >

  </app-menu-mobile> -->

  <!-- <div class="available-container">
    <span class="signal"></span>
    <span class="text-available">disponible</span>
  </div> -->

  <!-- <app-menu-mobile 
  [imagePosition]="false"
  [isIconOrImg]="false"
  icon="fact_check"  
  text="choisissez-moi car avec moi, vos vetements sont plus que clean !!"
  [styles]="{justifyContent:'flex-start', marginLeft:'-0.3rem',padding:'0', marginTop:'1rem'}"
  > 
  
</app-menu-mobile> -->
</div>


    
      
    </div>
    
  </div>



  <div class="contact-btn">
    <app-button labelButton="Contactez"  (clicked)="valide()"></app-button>

  </div>
</div>
</ng-template>



</div>



