
<div class="provider-container">
    <div class="provider-img">
        <img class="provider-image" src="./../../assets/portrait-d-une-femme-africaine-pour-laver-le-linge-a-la-main-dans-des-seaux-accra-ghana-c5hg23.jpg">
    </div>
    <div class="informations">
        <div class="names"> AKISSI fatima</div>
        <div class="number">+225 0709456567</div>
        <div class="adress">Yopougon annaneraie</div>
        <div class="type-provide">femme fanico</div>
        <div class="available">
            <div class="signe"></div>
            <span>Disponible actuelement</span>
        </div>
        <app-button width="100%" labelButton="Retour à page précédente" (clicked)="return()"></app-button>
    </div>
</div>

