
<div class="seach-container">
  <input type="text" class="seachBar" placeholder="recherches...." [(ngModel)]="searchValue">
  <mat-icon class="seachIcon">search</mat-icon>
</div>


<div class="demo">
  <div class="mainCard">
    <div class="mainCardContent" *ngFor="let provider of providerList | filter:searchValue | paginate:{itemsPerPage: 4, currentPage: page} ; let indexOfelement=index">
      <div class="miniCard">
        <img [src]="provider.imageUrl"/>
        <span class="name">{{provider.name}}</span>
        <div class="button">
          <app-button labelButton="contactez-moi" (clicked)="getProvider(provider.name, indexOfelement)"></app-button>
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  </div>
