<div class="container-se">
<div class="seach-container">
  <input type="text" class="seachBar" placeholder="recherches...." [(ngModel)]="searchValue">
  <mat-icon class="seachIcon">search</mat-icon>
</div>
</div>


<div class="demo">

  <!-- <ng-container *ngIf="(loadingTile$ | async); else listMap">
    <app-carte-pulser *ngFor="let i of [1,1,1, 1]">
   </app-carte-pulser>
 </ng-container>  -->

 <ng-container *ngIf="!providerList ; else listProvider">
  <div class="loading">
  <app-provider-item-loading *ngFor="let i of [1,1,1, 1]">
  </app-provider-item-loading>
</div>
 </ng-container>

 <ng-template #listProvider>

  <div class="mainCard">
    <div class="mainCardContent" *ngFor="let provider of providerList | filter:searchValue | paginate:{itemsPerPage: 4, currentPage: page} ; let indexOfelement=index">
      <div class="miniCard" (click)="getProvider(provider?.id, indexOfelement)">
        <div>
        <div class="miniCardImg" [style.backgroundImage]="'url('+ provider.profile_image_url +')'" *ngIf="provider.profile_image_url"></div>
        <div class="miniCardImg" style="background-image: url('assets/svg/woman.png') "  *ngIf="!provider.profile_image_url"></div>

        <!-- <img [src]="provider.profile_image_url" *ngIf="provider.profile_image_url"/> 
        <img src="assets/svg/woman.png" *ngIf="!provider.profile_image_url"/> --> 
      </div>
        <div class="info">
        <span class="name">{{provider?.username}}</span>
        <div class="grade">
          <mat-icon class="grade-icon">grade</mat-icon>
          <mat-icon class="grade-icon">grade</mat-icon>
          <mat-icon class="grade-icon">grade</mat-icon>
          <mat-icon class="grade-iconNone">grade</mat-icon>
          <mat-icon class="grade-iconNone">grade</mat-icon>
        </div>
        <div class="button" (click)="getProvider(provider?.id, indexOfelement)">
          <!-- <app-button labelButton="contactez-moi" (clicked)="getProvider(provider.name, indexOfelement)"></app-button> -->
          Contactez
        </div>

        </div>
      </div>
    </div>
    <div class="pagination-container">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</ng-template>
  </div>
