.login-title {
  font-family: "Roboto";
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 100;
  line-height: 1;
  color: #0fccce;
  margin-top: 3rem;
  }

  .login-form {
      // background-color: rgba(255, 255, 255, 0.15);
      // -webkit-backdrop-filter: blur(5px);
      // backdrop-filter: blur(5px);
      // border-radius: 50px;
      padding: 0rem 0rem 4rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35rem;
  }

  .form-group {
    padding-top: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .form-group-tel{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 1rem;
  }
  app-tel-input{
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .btn {
    margin-top: 1rem;
  }

  .login-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }

  a.resterConnecter {
    text-decoration: none;
    color: #000000fa;
    font-size: 18px;
  }

  .registerLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .registerLink a {
    text-decoration: none;
    color: #0fccce;
    font-family: 'helvetica', Neue
  }
  .formsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: auto;
      height: -webkit-fill-available;

  }
  form.log{
    display: flex;
    flex-direction: column;

  }
  .mat-stepper-horizontal {
    background-color: initial;
    width: -webkit-fill-available;
}
button.mat-stepper-next.step_btn.ng-star-inserted {
    width: 100%;
    outline: none;
    padding: 0.3rem;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
}
button.mat-stepper-previous.step_btn.ng-star-inserted {
  width: 100%;
    outline: none;
    padding: 0.3rem;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.15);
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}
.connectLink{
  cursor: pointer;
}
.connect-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.connection{
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color:#0fccce;
}
.login {
  position: absolute;
    top: 9rem;
    right: 2rem;
    font-size: 1rem;
    color: #0fccce;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login span img {
  width: 2rem;
}
.mainBtn {
  background-color: #f1f0f0;
  /* padding: 1rem 2rem; */
  display: flex;
  width: 20rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

  .main{
    padding: 0rem 0rem 0rem 0rem;
    width: inherit;
    margin-top: -3rem;
}

.formGroupInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
span.client,span.Prestataire {
  padding: 0.7rem;
  display: block;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000ba;
  letter-spacing: 0.5px;
}
.client.clientStyle, .Prestataire.prestataireStyle{
  background-color: #0fccce;
  border-radius: 0.5rem;
  color: #fff;

}
button.mat-stepper-next.ng-star-inserted,button.mat-stepper-previous.back_btn.ng-star-inserted {
  outline: none;
  width: -webkit-fill-available;
  padding: 0.4rem;
  border-radius: 1rem;
  border: 1px solid #0fccce;
  background-color: #fff;
  color: #0fccce;
  margin-top: 1rem;
  letter-spacing: 1px;
}
.button-register-prestataire{
  margin-top: 1rem;
}
span.connect-in-login img {
  width: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 5.5rem;
}
.successContainer {
  width: 100%;
  background-color: #0fcbce30;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin-bottom: 0;
}

.slideInSuccess {
  height: 100vh;
  transition: all 0.5s;
 
}
.contenu{
  display: none;
}
.showContenu{
  display: inline-block;
}
.slideOutSuccess {
  height: 0;
  transition: all 0.5s;
}

.success-img img {
  width: 8rem;
  /* margin: auto; */
  height: 8rem;
}

.success-img {
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.test {
  text-align: center;
  /* width: 95%; */
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: "Roboto";
  /* padding: 0 1rem; */
  margin: 0 0.5rem;
}

.btn-continuer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #0fccce;
  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto";
}
.test-bold  {
  font-weight: bold;
  font-family: "Roboto";
}
.felicitation {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  font-family: "Roboto";
}





  .formsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  height: auto;

  }
  .login-form{
    width: 90%;
}
  /* IPHONE STYLE*/

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .formsContainer{
      padding-top: 9.5rem;
    }
    .mainBtn {
      margin-top: 2rem;
    }

  }






