
<div class="formsContainer">
    
    <div class="login-form">
        <div class="login-title">
            Créer un compte
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)" class="log">
                <div class="form-group">
                <app-text-input label="Nom" controlName="lastName"></app-text-input>
                <app-input-error errorLabel="Ce champ est requis" [showAlert]="registerForm.get('lastName')?.invalid && alert" icon="./../../../assets/report_problem_black_24dp.svg"></app-input-error>
                </div>
            
        
                <div class="form-group">
                    <app-text-input label="Prénom" controlName="firstName"></app-text-input>
                    <app-input-error errorLabel="Ce champ est requis" [showAlert]="registerForm.get('firstName')?.invalid && alert" icon="./../../../assets/report_problem_black_24dp.svg"></app-input-error>
                </div>
        
                <!-- <div class="form-group">
                    <app-select-input label="Sexe" homme="Homme" femme="Femme"></app-select-input>
                    <app-input-error errorLabel="Ce champ est requis" [showAlert]="registerForm.get('sexe')?.invalid && alert" icon="./../../../assets/report_problem_black_24dp.svg"></app-input-error>
                </div> -->
        
                <div class="form-group-tel">
                    <app-tel-input controlName="telephone" label="Téléphone"></app-tel-input> 
                    <app-input-error errorLabel="Ce champ est requis" [showAlert]="registerForm.get('telephone')?.invalid && alert" icon="./../../../assets/report_problem_black_24dp.svg"></app-input-error>
                </div>
                
                <!-- <button class="step_btn" type="button" mat-button matStepperNext>suivant</button> -->
            <!-- </mat-step> -->
            <!-- <mat-step> -->
                <!-- <ng-template matStepLabel>connexions</ng-template>  -->
                <div class="form-group">
                <app-email-input label="Email" controlName="email"></app-email-input>
                <app-input-error errorLabel="Veillez-saisir un email valid" [showAlert]="registerForm.get('email')?.invalid && alert" icon="./../../../assets/warning_amber_black_24dp.svg"></app-input-error>
                </div>
        
               
                <div class="form-group">
                <app-password-input label="Mot de passe" controlName="password"></app-password-input>
                <app-input-error errorLabel="Veillez-saisir un email valid" [showAlert]="registerForm.get('password')?.invalid && alert" icon="./../../../assets/warning_amber_black_24dp.svg"></app-input-error>
                </div>
        
                <div class="form-group">
                    <app-password-input label="Confirmez le mot de passe" controlName="confPassWord"></app-password-input>
                    <app-input-error errorLabel="Veillez-saisir un email valid" [showAlert]="registerForm.get('confPassWord')?.invalid && alert" icon="./../../../assets/warning_amber_black_24dp.svg"></app-input-error>
                </div>
        
        
                <div class="btn">
                    <app-button labelButton="ENREGISTRER">
                    </app-button>
                </div>
                <div class="connect-link">
                    <span>Vous avez déjà un compte?</span> 
                    <span class="connection" (click)="goToConnect()">Connectez-vous</span>
                </div>
                <!-- <button class="step_btn" mat-button matStepperPrevious>Retour</button> -->
        
            <!-- </mat-step>
        </mat-stepper>  -->
    </form>

</div>
    

</div>
    

