.login-title {
  font-family: "Roboto";
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 100;
  line-height: 1;
  color: #0fccce;
  margin-top: 5rem;
  }

  .login-form {
      // background-color: rgba(255, 255, 255, 0.15);
      // -webkit-backdrop-filter: blur(5px);
      // backdrop-filter: blur(5px);
      // border-radius: 50px;
      padding: 0rem 0rem 4rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35rem;
  }

  .form-group {
    padding-top: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .form-group-tel{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 1rem;
  }
  app-tel-input{
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .btn {
    margin-top: 1rem;
  }

  .login-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }

  a.resterConnecter {
    text-decoration: none;
    color: #000000fa;
    font-size: 18px;
  }

  .registerLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .registerLink a {
    text-decoration: none;
    color: #0fccce;
    font-family: 'helvetica', Neue
  }
  .formsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin: auto;
      height: -webkit-fill-available;

  }
  form.log{
    display: flex;
    flex-direction: column;

  }
  .mat-stepper-horizontal {
    background-color: initial;
    width: -webkit-fill-available;
    padding-left: 3rem;
    padding-right: 3rem;
}
button.mat-stepper-next.step_btn.ng-star-inserted {
    width: 100%;
    outline: none;
    padding: 0.3rem;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
}
button.mat-stepper-previous.step_btn.ng-star-inserted {
  width: 100%;
    outline: none;
    padding: 0.3rem;
    font-size: 23px;
    border: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.15);
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}
.connectLink{
  cursor: pointer;
}
.connect-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.connection{
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color:#0fccce;
}
.login {
  position: absolute;
    top: 9rem;
    right: 2rem;
    font-size: 1rem;
    color: #0fccce;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login span img {
  width: 2rem;
}


@media only screen and (max-width: 600px){
  .formsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  height: auto;

  }
  .login-form{
    width: 90%;
}


}


