.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-container-sub {
    display: flex;
    flex-direction: column;
}
span.btn-client {
    text-align: center;
    padding: 1rem 3rem;
}
span.btn-prestataire {
    text-align: center;
    padding: 1rem 3rem;
}
span.btn-client {
    text-align: center;
    padding: 1rem 3rem;
    background-color: #0fccce;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 2rem;
}
span.btn-prestataire {
    text-align: center;
    padding: 1rem 3rem;
    border: 1px solid #0fccce;
    color: #0fccce;
    font-size: 1.2rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    border-radius: 2rem;
}
.login {
    position: absolute;
    top: 9rem;
    right: 2rem;
    font-size: 1rem;
    color: #0fccce;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login span img {
    width: 2rem;
}

@supports (-webkit-touch-callout: none) {                         
    
  }
  
