.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    font-weight: 500;
}
.description {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: space-around;
}
.btns button {
    outline: none;
    padding: 1rem 2rem;
    background-color: #0fccce;
    color: #FFF;
    border: none;
    border: 1px solid transparent;
}
.btns button:hover{
    background-color: #fff;
    border: 1px solid #0fccce;
    transition: all 0.3s;
    color: #0fccce;
}
