.error-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    background-color: #2e292926;
    color: #241b1b;
    border-radius: 6px;
    padding-left: 0.5rem;
  }
  