button.btn{
    outline: none;
    border: none;
    font-size: 18px;
    color: #FFF;
    background: #0fccce;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
  }
  button:hover{
      background-color: #1db6b6;
      color:#FFFFFF ;

  }
