.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1.3rem 1rem;
    font-size: 17px;
}
.menu-container:hover{
    background-color: rgb(53, 152, 177);
    color: #FFF;
    transform:scale(1.1);
    transition: all 0.5s;
}
