.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1.3rem 1rem;
    font-size: 17px;
    color:#8795a1
}
.menu-container:hover{
    background-color: #0fccce;
    color: #FFF;
}
img.menu-image {
    width: 2rem;
}
