<div class="form-group">
    <span class="label">{{label}}</span>
    <div [ngClass]="{inputContainer:true, showError:showError}">
    <input [type]="hide ? 'password' : 'text'" [formControlName]="controlName" placeholder="{{label}}">
     <mat-icon class="eye-icon" *ngIf="eyeOf" (click)="showPass()">remove_red_eye</mat-icon>
     <mat-icon class="eye-icon" *ngIf="eyVisually" (click)="hidePass()">visibility_off</mat-icon>
     <span class="errorMsg" *ngIf="showError">{{MsgError}}</span>
    </div> 
</div>


