.form-group {
    display: flex;
    flex-direction: column;
  }

  input {
    outline: none;
    height: 3rem;
    border: none;
    padding-left: 1.5rem;
    font-size: 18px;
    background-color:#FFF;
    width:inherit;
    border: 1px solid #99969699;
  }

  span.label {
    font-size: 18px;
    padding-bottom: 0.5rem;
  }

  .inputContainer {
    width: -webkit-fill-available;
    
}
