<div class="main-container">
    <app-our-sevice-cardes 
    image="./../../assets/lissive a la main.jpeg"
    title=" Lessive" 
    description ="E-fanico Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sed corrupti, eum ne
    cessitatibus maxime molestias omnis quo inventore suscipit">
</app-our-sevice-cardes>

<app-our-sevice-cardes 
image="./../../assets/lessive et blachissement.jpg"
title="lessive et blachissement" 
description ="E-fanico Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sed corrupti, eum ne
cessitatibus maxime molestias omnis quo inventore suscipit">
</app-our-sevice-cardes>

<app-our-sevice-cardes 
image="./../../assets/netoyage.png"
title="Netoyage" 
description ="E-fanico Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sed corrupti, eum ne
cessitatibus maxime molestias omnis quo inventore suscipit">
</app-our-sevice-cardes>

<app-our-sevice-cardes 
image="./../../assets/lessive 2.jpeg"
title="Lessive" 
description ="E-fanico Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sed corrupti, eum ne
cessitatibus maxime molestias omnis quo inventore suscipit">
</app-our-sevice-cardes>
</div>
