

.login-title {
  font-family: "Roboto";
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #0fccce;
  margin-top: 3rem;
}

.login-form {
  padding: 0rem 0rem 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35rem;
}

.form-group {
  padding-top: 1rem;
}

.btn {
  margin-top: 2rem;
}

.login-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  text-decoration: underline;
}

a.resterConnecter {
  text-decoration: none;
  color: #0fccce;
  font-size: 16px;
}

.registerLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;

}

.registerLink a {
  color: #0fccce;
  font-size: 1rem;
  font-family: 'Roboto'sans-serif;
  text-decoration: underline
}

.registerLink a {
  text-decoration: none;
}

.formsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
  padding-top: 8rem;
  position: relative;


}

form.log {
  display: flex;
  flex-direction: column;

}

.top-background {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  background: #0fccce;
  /* border-radius: 0 0 10rem 10rem; */
  right: 0;
  border-radius: 0 1rem 0 35rem;
}
.bottom-back {
  height: 5rem;
  width: 5rem;
  background:  #0fccce;
  position: absolute;
  bottom: -55px;
  left: 0;
  z-index: -1;
  border-radius: 0 17rem 0 1rem;
}

@media only screen and (max-width: 600px) {


  .login-form {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:-webkit-fill-available;
  }

  .loginForm {
    width: 90%;
  }

  /* IPHONE STYLE*/

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .login-form{
    margin-top: -6rem;
  }
 
}

}
