.main {
  padding: 0rem 0rem 0rem 0rem;
}

.form-group {
  padding-top: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form-group-tel {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1rem;
}

app-tel-input {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.formGroupInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.part1,
.part2 {
  flex: 1;
  width: -webkit-fill-available
}

.part1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.part1 {}



.form-container {
  padding: 5rem 7rem 5rem 7rem;
  border-radius: 2.5rem;
}

.button {
  margin-top: 2rem;
  margin-bottom: 2rem;

}

span.info {
  font-size: 1.6rem;
  line-height: 1;
  color: #0fccce;
  font-weight: 100;
}

.title img {
  width: 2rem;
}

.title {
  margin: 6rem 0 2rem 0rem;
}

.login {
  position: absolute;
  top: 9rem;
  right: 2rem;
  font-size: 1rem;
  color: #0fccce;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login span img {
  width: 1.3rem;
}

  .image-container{
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #99969699;
    border-radius: 50%;
    margin: auto;
    margin-top: 0rem;
}


label.inputTag {
  width: inherit;
  height: inherit;
  /* display: contents; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}


.successContainer {
  width: 100%;
  background-color: #0fcbce30;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin-bottom: 0;
}

.slideInSuccess {
  height: 100vh;
  transition: all 0.5s;
 
}
.contenu{
  display: none;
}
.showContenu{
  display: inline-block;
}
.slideOutSuccess {
  height: 0;
  transition: all 0.5s;
}

.success-img img {
  width: 8rem;
  /* margin: auto; */
  height: 8rem;
}

.success-img {
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.test {
  text-align: center;
  /* width: 95%; */
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: "Roboto";
  /* padding: 0 1rem; */
  margin: 0 0.5rem;
}

.btn {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #0fccce;
  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto";
}
.test-bold  {
  font-weight: bold;
  font-family: "Roboto";
}
.felicitation {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  font-family: "Roboto";
}















@media only screen and (max-width: 950px) {

  /* For mobile phones: */
  .formGroupInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .form-container {
    padding: 0rem 0rem 0rem 0rem;
    background: none
  }

  
  .part1 {
    margin-right: 0rem;
    margin-left: 0rem;
  }

}