/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon.mat-icon.notranslate.seachIcon.seachIcon.material-icons.mat-icon-no-color {
    font-size: 45px;
    margin-top: -1rem;
  color: #0fccce;
}
.iti--allow-dropdown input,
 .iti--allow-dropdown input[type=text],
  .iti--allow-dropdown input[type=tel],
   .iti--separate-dial-code input,
    .iti--separate-dial-code input[type=text],
     .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    height: 3.3rem;
    border: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    outline: none;
    font-size: 1rem;
    background-color: #f1f0f0;
    border-radius: 1rem;
    color: #000000;
    font-weight: 100;
    font-family: unset;

}

.showError {
  padding: 0.3rem 0.3rem 1rem 0.3rem;
  background-color: #e0212140;
  border-radius: 0 0 0.5rem 0.5rem;
}
span.errorMsg {
  color: #ff0000bf;
  font-size: 16px;
}
.inputContainer {
  width: -webkit-fill-available;
  
}
.grade mat-icon .grade-icon{ 
  color: #0fccce;
 }

img.logo {
    width: 7rem;
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: row;
}

mat-icon.mat-icon.mobile-clear.notranslate.mobile-clear.material-icons.mat-icon-no-color {
  font-size: 2.5rem;
  color: #0fccce;
}
.mat-step-icon.mat-step-icon-state-edit {
  background-color: #0fccce;
}
.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  background-color: #0fccce;
}
.iti {
    position: relative;
    display: inline-block;
    /* width: 0rem; */
    flex: 1;
    display: flex;
}
ngx-intl-tel-input {
    flex: 1;
    display: flex;
    flex-direction: row;
}
mat-icon.mat-icon.notranslate.menu-icons.material-icons.mat-icon-no-color {
  font-size: 3rem;
  margin-right: 1rem;
  color: #0fccce;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0fccce!important;
  
}

.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 2rem;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: auto;
  min-height: inherit;
  max-height: inherit;
}

span.total { 
  position: absolute;
  top: -7px;
  right: 2rem;
  padding: 0rem 0.6rem;
  background-color: yellow;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #000000;
}
.updateLib mat-icon {
  font-size: 1.3rem;
  color: #0fccce;
}

.loding-container-item .ph-item {
  border: none;
  background-color: #fff;
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  padding:0;
}

mat-horizontal-stepper.ng-tns-c116-1.mat-stepper-horizontal.mat-stepper-label-position-end.ng-star-inserted {
  width: -webkit-fill-available;
}
.mat-step-text-label.ng-star-inserted {
  color: #000000a1;
}
mat-icon.mat-icon.notranslate.icon-bottom-menu.material-icons.mat-icon-no-color {
  font-size: 1.4rem;
}

  /* IPHONE STYLE*/

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
   
    img.logo{
      top: 4rem;
    }
  }




