
<div class="main-content">
  <div class="container">

    <div class="chemise-container">
      <div class="sub1-container">
        <img src="./../../assets/commandeImg/chemise-a-manches-courtes (1).png">
      </div>
      <div class="detail">

        <div class="detail-sub">
          <div class="libelle">Chemise</div>
          <div class="price-container">
            {{ calGlobalPriceChem() }} <span>Fcfa</span>
          </div>
        </div>

        <div class="increment">
          <div class="decre" (click)="decreChem()">-</div>
          <div class="value"> {{unitChemise}}</div>
          <div class="incre" (click)="increChem()">+</div>
        </div>

        <div class="sub2-container"> 
          <div class="confirm" (click)="confirmChem('chemise', unitChemise)">Ajouter au panier à linge</div>
        </div>

      </div>

      
    </div>


    <div class="chemise-container">
      <div class="sub1-container">
        <img src="./../../assets/commandeImg/un-pantalon.png">
      </div>
      <div class="detail">

        <div class="detail-sub">
          <div class="libelle">Pantalon</div>
          <div class="price-container">
            {{ calGlobalPricePant() }} <span>Fcfa</span>
          </div>
        </div>

        <div class="increment">
          <div class="decre" (click)="decrePant()">-</div>
          <div class="value"> {{unitPantalon}}</div>
          <div class="incre" (click)="increPant()">+</div>
        </div>

        <div class="sub2-container"> 
          <div class="confirm" (click)="confirmPant('pantalon', unitPantalon)">Ajouter au panier à linge</div>
        </div>

      </div>

      
    </div>


    <div class="chemise-container">
      <div class="sub1-container">
        <img src="./../../assets/commandeImg/robe.png">
      </div>
      <div class="detail">

        <div class="detail-sub">
          <div class="libelle">Robe</div>
          <div class="price-container">
            {{ calGlobalPriceRobe() }} <span>Fcfa</span>
          </div>
        </div>

        <div class="increment">
          <div class="decre" (click)="decreRobe()">-</div>
          <div class="value"> {{unitRobe}}</div>
          <div class="incre" (click)="increRobe()">+</div>
        </div>

        <div class="sub2-container"> 
          <div class="confirm" (click)="confirmRobe('robe', unitRobe)">Ajouter au panier à linge</div>
        </div>

      </div>

      
    </div>



    <div class="chemise-container">
      <div class="sub1-container">
        <img src="./../../assets/commandeImg/jeans.png">
      </div>
      <div class="detail">

        <div class="detail-sub">
          <div class="libelle">Jean</div>
          <div class="price-container">
            {{ calGlobalPriceJean() }} <span>Fcfa</span>
          </div>
        </div>

        <div class="increment">
          <div class="decre" (click)="decreJean()">-</div>
          <div class="value"> {{unitJean}}</div>
          <div class="incre" (click)="increJean()">+</div>
        </div>

        <div class="sub2-container"> 
          <div class="confirm" (click)="confirmJean('jean', unitJean)">Ajouter au panier à linge</div>
        </div>

      </div>

      
    </div>
   
  </div>

</div>