// .mai-container {
//     margin-top: 10rem;
// }
// .formHeader {
//         display:flex;
//         justify-content:space-around;
//         width:100%;
//         background:#000;
//         color: #fff;
//         padding: 1rem;
// }

// .table-row {
//     display:flex;
//     width:100%;
//     padding: 1rem;
//     justify-content:space-around;
//     text-align:center
// }

body {
  font-family: 'lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
}

.main-content{
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  width: 100%;
}

.sub1-container img {
  width: 7rem;
  height: 5rem;
}

.detail {
  display: flex;
  flex-direction: column;
}
.detail-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.increment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chemise-container{
  width: inherit;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
  margin-top: 1.2rem;
  box-shadow: 2px 2px 10px #bcc4cc;
  padding-bottom: 1rem;
  animation-name: chemise-container;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.incre {
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  background-color: #0fccce;
  font-size: 1;
  color: #FFF;
  border-radius: 0.3rem;
  cursor: pointer;
}

.price-container span {
  font-size: 1rem;
}

.decre {
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
  /* background-color: #0fccce; */
  font-size: 1;
  color: #0fccce;
  border-radius: 0.3rem;
  border: 1px solid #0fccce;
  cursor: pointer;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #0fcce0;
  align-items: baseline;
  text-decoration: underline;
}


  .confirm {
    text-align: center;
    padding: 0.5rem;
    background-color: #0fccce;
    color: #FFF;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 2rem;
}



.libelle {
  text-align: center;
  font-size: 1rem;
  padding: 0.7rem 0rem;
  color: #8795a1
}

.value {
  color: #8795a1;
  font-size: 1.3rem;
}

.resum-container {
  width: 30%;
  border-left: 1px solid;
}
.bar {
  width: 100%;
  height: 5rem;
  /* background: aqua; */
  /* margin-top: 7rem; */
  position: fixed;
  top: 5rem;
  box-shadow: 1px 1px 9px #979797;
  background-color: #fff;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  display: none;
}
.bar img {
  width: 3rem;
}
.notification {
  position: relative;
  width: 4rem;
  margin-right: 4rem;
  margin-top: 1.5rem;
}
span.total {
  position: absolute;
  top: -7px;
  right: 2rem;
  padding: 0rem 0.6rem;
  background-color: yellow;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

@keyframes chemise-container {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@media only screen and (max-width: 800px) {
  .bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
  }
  .resum-container {
    display:none;
  }

    .container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  

  }


  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .container{
    margin-top: 3rem;
    }
  }


