.loding-container{
}
.ph-picture{
    background-color: rgba(149, 149, 149, 0.157);
    width: 8rem;
    border-radius: 50%;
}
.ph-col-8.big.name {
    height: 2rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
    background-color: rgba(149, 149, 149, 0.157)
}
.btn-container {
    margin-left: 2rem;
    margin-top: 5rem;
    /* height: 3rem; */
}
.ph-col-8.big.btn {
    height: 2.4rem;
    border-radius: 2rem;
    width: 22rem;
    background-color: rgba(149, 149, 149, 0.157)
}
